@import 'https://unpkg.com/open-props';
@import 'https://unpkg.com/open-props/normalize.min.css';

body {
  display: grid;
  place-items: center;
}

main {
  display: grid;
  grid-template-columns: auto 1fr auto;
  place-items: center;
  max-width: 500px;
}

button {
  aspect-ratio: 1 / 1;
  border-radius: var(--radius-round);
  width: 80px;
  transition: all 0.1s var(--ease-3);

  &:hover {
    background: var(--indigo-4);
    scale: 1.2;
  }
}

#value, button {
  display: flex;
  font-size: var(--font-size-8);
  justify-content: center;
  align-items: center;
}

#value {
  padding: var(--size-8);
  font-weight: bold;
}
